tmp/
spec/decidim_dummy_app/
.rspec-failures
.rubocop-https*
.byebug_history

# default development application
development_app
.rbenv-vars
.vscode
.byebug_history
*.gem
npm_debug.log
.rubocop-*

# Ignore node modules
/node_modules
